.section-nav {
	background-image: url(../img/main.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.navcontainer {
	margin: 0 auto;
}

.navbar {
	padding-top: 52px;
	@include flex(sb, c);
}

.nav-logo {
	@extend .link;

	&__bold {
		@include text(ProximaNova, #000000, 36px, 700, center, capitalize);
	}

	&__normal {
		margin-left: -5px;
		@include text(ProximaNova, #000000, 36px, 400, center, capitalize);
	}

}

.nav-list {
	@include flex(c, c);

	&__link {
		border: 1px solid transparent;
		padding: 15px 30px;
		@extend .link;
		@include text(ProximaNova, #000000, 18px, 400, center, capitalize);
	}

	&__link:hover {
		border: 1px solid rgba(0, 0, 0, 0.72);
		border-radius: 50px;
		transition: 0.9s;
	}
}

.main-section {
	padding: 200px 0 410px 0;
	@include flex(c, c);
	flex-direction: column;

	&__title {
		@include text(ProximaNova, #000000, 48px, 700, center, none);
	}

	&__caption {
		margin-top: 10px;
		@include text(ProximaNova, #949494, 18px, 400, center, none);
	}
}

.scroll-bottom {
	@include flex(c, c);
	@include text(ProximaNova, #ffffff, 14px, 300, center, none);
	@extend .link;
	flex-direction: column;

	&__text {
		margin-top: 10px;
		margin-bottom: 10px;
	}
}
