.center-guide {
    position: relative;
    height: 870px;
}

.triangle {
    border-style: solid;
    border-width: 500px 0 500px 620px;
    border-color: transparent transparent transparent #f0d456;
    position: relative;
    top: -100px;
    z-index: 2;
}

.center-guide .container {
    margin: 60px;
    position: absolute;
    top: 0;
    z-index: 3;
}

.center-guide .heading {
    font-family: "Muli Black", sans-serif;
    font-size: 30px;
    color: #34353a;
    font-weight: 700;
    margin: 45px 0;
    padding-top: 10px;
}

.center-guide .line {
    background-color: #838486;
    width: 100px;
    height: 3px;
    margin-top: 70px;
}

.form-send {
    color: #a3a2a2;
    font-family: "Muli", sans-serif;

    input {
        font-family: "Muli", sans-serif;
        background-color: transparent;
        border: 0;
        border-bottom: 1px solid #34353a;
        padding: 15px;
        font-size: 20px;
        width: 380px;
        font-weight: 300;
    }

    input:focus {
        outline: 0;
    }

}

.send-me {
    margin-top: 80px;
    font-family: "Muli", sans-serif;
    min-width: 225px;
    height: 60px;
    font-weight: 700;
    color: #fff;
    border-radius: 25px;
    font-size: 22px;
    box-shadow: inset 0px -3px 0px 0px rgba(60,160,188,1);
    background: linear-gradient(to bottom, #90dced 0%, #3da3c0 100%);
    cursor: pointer;

}

.send-me:hover {
    background: linear-gradient(to bottom, #7ce7ff 0%, #2aa8cc 100%);
    box-shadow: inset 0px -6px 0px 0px rgba(60,160,188,1);
}

.send-me:active {
    background: linear-gradient(to bottom, #7ce7ff 0%, #2aa8cc 100%);
    box-shadow: inset 0px -2px 0px 0px rgba(60,160,188,1);
}

.file-description {
    font-family: "Muli", sans-serif;
    font-weight: 300;
    margin-top: 25px;
    margin-left: 15px;
}