<header class="section-nav">
    <div class="inner navcontainer">
        <nav class="navbar">
            <a href="#" class="nav-logo">
                <span class="nav-logo__bold">Interactive</span>
                <span class="nav-logo__normal">Agency</span>
            </a>
            <ul class="nav-list">
                <li class="nav-list__item"><a href="#" class="nav-list__link">Home</a></li>
                <li class="nav-list__item"><a href="#" class="nav-list__link">About us</a></li>
                <li class="nav-list__item"><a href="#" class="nav-list__link">Offer</a></li>
                <li class="nav-list__item"><a href="#" class="nav-list__link">Portfolio</a></li>
                <li class="nav-list__item"><a href="#" class="nav-list__link">Contact</a></li>
            </ul>
        </nav>
        <div class="main-section">
            <h1 class="main-section__title">Lorem ipsum dolor sit amet</h1>
            <p class="main-section__caption">Nunc vel nibh tempor, pharetra lectus congue, luctus orci.</p>
            <a href="#" class="btn-price">Ask for price</a>
        </div>
        <a href="#" class="scroll-bottom">
            <img src="img/mouse.png" alt="Scroll-Down">
            <p class="scroll-bottom__text">scroll down</p>
        </a>
    </div>
</header>