
.you-get {
  max-width: 1200px;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  justify-content: space-around;


}

.what-you-get {
  padding-left: 45px;
  width: 400px;
  height: 194px;

}
.photos-text:not(:nth-child(1)):not(:nth-child(2)):not(:nth-child(3)):not(:nth-child(5)){
  padding-top: 120px;
}

.photos-text:nth-child(1){
  padding-top: 150px;

}
.photos-text:nth-child(6){
  padding-bottom: 61px;
}
.photos-text:nth-child(2){
  padding-top: 217px;
}

.all-text{
  width: 466px;
}

.photos-text {
  flex: 0 1 50%;

}
.text {
  @include text("﻿Muli", rgba(52, 53, 58, 255), 20, 400, auto, auto);

  padding-top: 34px;
  line-height: 30px;

}

.text-caption {
  @include text('Muli ', rgba(52, 53, 58, 255), 26, 800, auto, auto);
  text-align: left;

  padding-top: 90px;
  line-height: 32px;

}

.title {
  padding-bottom: 95px;
  height: 35px;
  text-align: left;
  @include text("﻿Muli", rgba(52, 53, 58, 255), 30, 900, auto, auto);
  padding-right: 270px;
}
@media screen and (max-width: 993px) {

}
