
.you-get {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 1800px;
}
.second-column{
  padding-top: 160px;
  padding-left: 50px;

}
.first-column{
  padding-top: 150px;
  padding-left: 20px;
}
.what-you-get{
  padding-left: 60px;


}
.text-captions{
  @include text('Muli-ExtraBold, ﻿Eina01-Light, ', rgba(52, 53, 58, 255), 22, bold, auto, auto);
  text-align: left;
  width: 377px;
  height: 58px;
  padding-top: 30px;
  padding-left: 20px;
}
.photos-text{
  width: 439px;
  height: 455px;

}
.texts{
  text-align: left;
  @include text("﻿Muli-ExtraBold, ﻿Eina01-Light, ﻿AdobeInvisFont, ﻿MyriadPro-Regular", rgba(52, 53, 58, 255), 16, auto, auto, auto);
  width: 380px;
  padding-top: 0;
  padding-left: 20px;
}
.text{

  text-align: left;
  @include text("﻿Muli-ExtraBold, ﻿Eina01-Light, ﻿AdobeInvisFont, ﻿MyriadPro-Regular", rgba(52, 53, 58, 255), 16, auto, auto, auto);
  width: 380px;
  padding-top: 24px;
  padding-left: 20px;
}
.text-caption{
  @include text('Muli-ExtraBold, ﻿Eina01-Light, ', rgba(52, 53, 58, 255), 22, bold, auto, auto);
  text-align: left;
  width: 377px;
  height: 58px;
  padding-top: 90px;
  padding-left: 20px;

}
.thats-what-you-get{
  padding-left: 20px;
padding-bottom: 100px;
  text-align: left;
  @include text("﻿Muli-Black, ﻿AdobeInvisFont, ﻿MyriadPro-Regular", rgba(52, 53, 58, 255), 28, auto, auto, auto)
}
.line{
  background-color: #838486;
  width: 120px;
  height: 3px;
  margin-bottom: 50px;
  margin-left: 20px;
}
