.get-inspired {
  position: relative;
  &-header {
    @include text("Muli",rgb(52, 53, 58),30,700,left,none);
    position: relative;
    padding: 74px 0 60px;
  }
  &-header:before {
    content: '';
    position: absolute;
    top: 0;
    width: 107px;
    height: 4px;
    background-color: rgb(131, 132, 134);
  }
  &-slider {
    position: relative;
    overflow: hidden;
    &-track {
      @include flex(cb,fs);
      position: absolute;
      transition: all 0.4s linear;
    }
    &-item {
      margin-right: 8px;
      overflow: hidden;
      &-image {
        width: 100%;
      }
      &-image:hover {
        cursor: pointer;
      }
    }
  }
}
.get-inspired-arrow-left, .get-inspired-arrow-right {
  position: absolute;
  z-index: 9;
  top: 50%;
  width: 50px;
  height: 50px;
  padding:  25px 0;
  border: none;
  outline: none;
  background-color: transparent ;
  background-repeat: no-repeat;
  transform: translateY(-50%);
  transition: all 0.4s linear;
}
.get-inspired-arrow-left {
  left: 0;
  padding-left: 50px;
  background-image: url("../img/get-inspired/arrow-left.png");
  background-position: center right;
}
.get-inspired-arrow-right {
  right: 0;
  padding-right: 50px;
  background-image: url("../img/get-inspired/arrow-right.png");
  background-position: center left;
}
.get-inspired-arrow-left:hover,  .get-inspired-arrow-right:hover {
  cursor: pointer;
}
.get-inspired-zoom-box {
  visibility: hidden;
  opacity: 0;
  transition: all .4s linear;
}
.get-inspired-overlay {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  opacity: 0;
  background-color: rgba(0,0,0,0.6);
  transition: all .4s linear;
  display: flex;
  justify-content: center;
  align-items: center;
}
.get-inspired-fadeInOut {
  opacity: 1;
  visibility: visible;
  transition: all .4s linear;
}
.get-inspired-zoom-close {
  position: absolute;
  top: 5px;
  right: 12px;
  z-index: 9999;
  font-size: 42px;
  color: #fff;
}
.get-inspired-zoom-arrow-left, .get-inspired-zoom-arrow-right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 9999;
  padding: 5px;
  color: #fff;
  font-size: 42px;
}
.get-inspired-zoom-arrow-left {
  left: 0;
}
.get-inspired-zoom-arrow-right {
  right: 0;
}
.get-inspired-zoom-box-image {
  display: block;
  max-width: 100%;
  max-height: 650px;
}
.get-inspired-dots {
  text-align: center;
  padding: 40px 0 70px;
}
.get-inspired-dots-dot {
  padding: 8px;
  margin: 1px;
  border-radius: 50%;
  border: 1px solid rgb(255, 208, 8);
  font-size: 0;
}
.dot-active {
  background-color: rgb(255, 208, 8);
}
.get-inspired-dots-dot:hover {
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .get-inspired-header {
    padding: 65px 0 35px;
  }
}
@media screen and (max-width: 578px) {
  .get-inspired-header {
    padding: 45px 0 40px;
  }
}