.about-us{
  padding-top:110px;
}

.about-us__flex-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.sidebar {
  flex-basis: 20%;
  padding-right: 40px;
  background-color: #fff;
}

.sidebar__title {
  font-family: "Muli Black", sans-serif;
  font-size: 30px;
  color: #34353a;
  font-weight: 700;

  &:before{
    content: '';
    position: absolute;
    top: 100px;
    width: 107px;
    height: 3px;
    background-color: #838486;
  }
}

#sidebar__nav {
  margin-top: 150px;
  color: #939393;
  text-transform: capitalize;
  font-size: 22px;
  z-index: 4;
  position: relative;
}

.sidebar__nav-item {
  padding: 10px 0;
  cursor: pointer;
}

.sidebar__nav-item_active {
  color: #00b6cc;
}

.nav-item__arrow {
  display: none;
  border-style: solid;
  border-width: 7px 0 7px 8px;
  border-color: transparent transparent transparent #f0d456;
  margin-right: 10px;
}

.person {
  flex-basis: 80%;
  max-height: 500px;
  border: 20px solid #f0d456;
  box-sizing: border-box;
  margin-left: 10px;
  z-index: 3;
}

.person__container {
  display: none;
  height: 100%;
  width: 100%;
  justify-content: center;
  position: relative;

  &:before{
    content: '';
    width: 10px;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: -20px;
    box-shadow: -30px 0 0 0 rgba(233, 233, 233, 1);
  }

  &:after{
    content: '';
    position: absolute;
    bottom: -20px;
    left: -30px;
    width: 100%;
    height: 35px;
    box-shadow: 0 35px 0 0 rgba(233, 233, 233, 1);
  }
}

.person-photo {
  width: 110%;
  height: 110%;
  position: relative;
  z-index: 2;
  top: -10%;
  right: 14%;
  flex-basis: 65%;
}

.person-desc {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-basis: 50%;
  padding: 0 30px;
  box-sizing: border-box;
  font-family: "Muli", sans-serif;
  font-size: 20px;
  color: #34353a;
}

.person-desc__name {
  font-family: "Muli Black", sans-serif;
  font-size: 50px;
  font-weight: 700;
  color: #34353a;
}

.person-desc__expert, .person-desc__speech {
  line-height: 30px;
}

.yellow-back {
  background-color: #f0d456;
  padding: 1.5px 5px;
  border-radius: 5px;
  cursor: pointer;
}

.slider-nav {
  display: none;
}


@media screen and (max-width: 768px) {

  .container {
    max-width: 576px;
  }

  .center-guide {
    height: 520px;
    margin-top: 230px;
  }

  .center-guide__triangle {
    border-width: 400px 0 400px 500px;
    top: -250px;
  }

  .sidebar {
    display: none;
  }

  .about-us__flex-container {
    display: flex;
    margin-top: 50px;
    flex-wrap: wrap;
  }

  .person {
    flex-basis: 100%;
    max-height: 500px;
    border: 20px solid #f0d456;
    box-sizing: border-box;
    margin-left: 10px;
    z-index: 3;
    position: relative;
  }

  .person__container {
    display: none;
    height: 100%;
    width: 100%;
    justify-content: center;
    position: relative;
  }

  .slider-nav {
    display: block;
    text-align: center;
    margin-top: 80px;
    flex-basis: 100%;
    z-index: 4;
  }

  .arrow-prev {
    margin-right: 45px;
    display: inline-block;
    vertical-align: top;
    margin-top: 9px;
    cursor: pointer;
  }

  .arrow-next {
    margin-left: 45px;
    display: inline-block;
    vertical-align: top;
    margin-top: 9px;
    cursor: pointer;
  }

  .slider-dots {
    list-style: none;
    display: inline-block;
    padding-left: 0;
    margin-bottom: 0;
  }

  .slider-dots li {
    color: #bbbcbc;
    display: inline;
    font-size: 30px;
    margin-right: 5px;
  }

  .slider-dots li.active-dot {
    color: #363636;
  }

  .person__active-slide {
    display: flex !important;
  }

}