.tell-us-about{
    max-width: 100%;
    background-color: #efefef;
    position: relative;
    top: -40px;
}
.main-form{
    max-width: 1200px;
    padding: 116px 96px 111px 96px;
    min-height: 814px;
    box-sizing: border-box;
    margin:0 auto;
    overflow: hidden;
}
.form-slider{
    display: flex;
    position: relative;
    transition: 0.4s;
}
.form-slide{
    @include flex(sb,sb);
    box-sizing: border-box;
    min-height: 607px;
    min-width: 100%;
    transition: 0.4s;
    box-suppress: hide;
    position: absolute;
    transform: translateX(150%);
}
.active-form-slide{
    transform: translateX(0);
}
.left-form-slide{
    transform: translateX(-150%);
}
.form-btn{
    @include btn;
}
.form-btn:hover{
    @include btn-hover;
}
.form-btn:active{
    @include btn-active;
}
.prev-btn{
    @include text("Muli",#a3a2a2,22,700,center,capitalize);
    cursor: pointer;
    position: absolute;
    transform: translate(-300%,50%);
    margin-right: 47px;
    line-height: 60px;
}
.prev-btn:hover{
    transition: 0.4s;
    text-decoration: underline;
}
.form-slide-footer{
    @include flex(sb,c);
    align-self: flex-end;
    width: max-content;
    flex-direction: column;
}
.header-txt{
    @include header(48);
    text-align: center;
    margin-bottom: 25px;
}
.sub-txt{
    @include text("Muli",#34353a,28,500,center,none);
}
.pagination{
    @include text("Muli",#34353a,20,700,center,none);
    margin-bottom: 11px;
    color: #34353a;
    position: relative;
}
.form-quest{
    margin-bottom: 46px;
}
#arrive-date-picker{
    margin-bottom: 66px;
}
.form-column{
    min-width: 50%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
}
.quest-container:first-child{
  margin-left: 114px;
}
.form-card{
  min-width: 50%;
  background-color: $yellow;
}


//////////////////QUEST/////////////////////////
.quest-header-txt{
    @include header(26);
    margin-bottom: 25px;
    text-align: left;
}
.form-calendar{
    @include  flex(c,fs);
    box-sizing: border-box;
    width: 220px;
    padding-bottom: 21px;
    border-bottom: 1px solid #34353a;
}
#arrive-date{
    @include text("Muli",#34353a,20,400,left,uppercase);
    border: none;
    outline: 0;
    outline-offset: 0;
}
::-webkit-inner-spin-button {
    display: none;
}
::-webkit-clear-button{
    display: none;
}
::-webkit-calendar-picker-indicator {
    opacity: 0;
    cursor: pointer;
    z-index: 1;
}
.fa-calendar-alt:hover {
    color: #f6d671;
}
.form-calendar i{
    position: relative;
    left: -30px;
    font-size: 30px;
    font-weight: 400;
    cursor: pointer;
    color: #a3a2a2;
    z-index: 0;
}
.form-tab-picker{
    @include text("Muli",#a3a2a2,18,400,left,uppercase);
    display: flex;
    border-radius: 5px;
    border: 1px solid #dedede;
    width: max-content;
}
.form-tab-picker li{
    padding: 20px 30px;
    cursor: pointer;
    border-right: 1px solid #dedede;
    background-color: $white;
}
.form-tab-picker li:last-child{
    border-right: none;
}
.form-tab-picker li:hover{
    background-color: #f6d671;
    border-color: transparent;
    color: #303030;
}
.active-form-tab{
    background-color: #f6d671;
    border-color: transparent;
}
#budget{
    width: 100%;
    text-align: center;
}
#budget li{
    width: 100%;
    padding: 20px 0;
}
@media screen and (max-width: 1200px) {
    .main-form{
        min-height: 1120px;
    }
    .form-slide{
        min-height: 913px;
    }
    .form-column{
        width: 100%;
    }
}


