///////////////////////BASIC SLIDER PROP/////////////////////////
$basic-font:'Muli';

@mixin content-width{
    width: max-content;
        //-moz-max-content
        //-webkit-max-content
}

.tell-us-about{
    max-width: 100%;
    background-color: #efefef;
    position: relative;
    top: -40px;
}
.main-form{
    max-width: 1200px;
    padding: 85px 50px;
    min-height: 802px;
    box-sizing: border-box;
    margin:0 auto;
    overflow: hidden;
}
.form-slider{
    display: flex;
    position: relative;
    transition: 0.4s;
}
.form-slide{
    @include flex(sb,sb);
    box-sizing: border-box;
    min-height: 607px;
    width: 100%;
    transition: 0.4s;
    box-suppress: hide;
    position: absolute;
    transform: translateX(150%);
}
.active-form-slide{
    transform: translateX(0);
}
.left-form-slide{
    transform: translateX(-150%);
}
.form-btn{
    @include btn;
    &:hover{
        @include btn-hover;
    }
    &:active{
        @include btn-active;
    }
}
.prev-btn{
    @include text($basic-font,#a3a2a2,22,700,center,capitalize);
    cursor: pointer;
    position: absolute;
    transform: translate(-300%,50%);
    margin-right: 47px;
    line-height: 60px;
    &:hover{
        transition: 0.4s;
        text-decoration: underline;
    }
}
#prev-3{
    position: absolute;
    transform: translate(-430%,50%);
}
.form-slide-footer{
    @include flex(sb,c);
    align-self: flex-end;
    @include content-width;
    //width: max-content;
    flex-direction: column;
}
.header-txt{
    @include header(48);
    text-align: center;
    margin-bottom: 25px;
}
.sub-txt{
    @include text($basic-font,#34353a,28,500,center,none);
}
.pagination{
    @include text($basic-font,#34353a,20,700,center,none);
    margin-bottom: 11px;
    color: #34353a;
    position: relative;
}
#arrive-date-picker{
    margin-bottom: 66px;
}
.form-column{
    min-width: 50%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
}
.form-card-container{
    min-width: 50%;
}
.form-card{
    @include flex(fs,fs);
    padding: 35px;
    background-color: $white;
    min-height: 541px;
    flex-direction: column;
    border: 26px solid #f0d456;
    box-sizing: border-box;
    box-shadow: -14px 46px 0px 0px rgba(183,183,183,1);
    position: relative;
    &-header{
        @include text($basic-font,#34353a,60,900,left,none);
        margin-bottom: 50px;
        letter-spacing: -1px;
    }
    &-sub-header{
        @include text($basic-font,#34353a,30,400,left,none);
        line-height: 45px;
    }
}
.form-quest{
    @include flex(fs,fs);
    flex-direction: column;
    margin-bottom: 55px;
    position: relative;
}
.form-card-working-hours{
    @include text($basic-font,#34353a,15,400,left,none);
    height: 100%;
    position: absolute;
    right: calc(0% + 35px);
    top: calc(100% - 61px);
    & span{
        font-weight: 700;
    }
}

///////////////////////COMMON QUEST PROP/////////////////////////

.quest-header-txt{
    @include text($basic-font,#34353a,20,700,left,none);
    margin-bottom: 13px;
}
.form-picker{
    @include text($basic-font,#a3a2a2,18,400,left,capitalize);
    @include flex(fs,fs);
    line-height: 55px;
    letter-spacing: 1px;
    box-sizing: border-box;
    border-color: #a3a2a2;
    position: relative;
}
.form-tab{
    height: 54px;
    padding: 0 30px;
    cursor: pointer;
    box-sizing: border-box;
    border-top: 1px solid #a3a2a2;
    border-bottom: 1px solid #a3a2a2;
    border-right: 1px solid #a3a2a2;
    background-color: $white;
    transition: 0.4s;
    &:first-child{
        border-left: 1px solid #a3a2a2;
        border-radius: 5px 0 0 5px;
    }
    &:nth-last-child(2){
        border-right: 1px solid #a3a2a2;
        border-radius: 0 5px 5px 0;
    }
    &:hover{
        background-color: $yellow;
        border-color: transparent;
        color: #303030;
    }
}
.form-multi-picker{
    @include text($basic-font,#a3a2a2,20,400,left,none);
    @include flex(fs,sb);
    flex-wrap: wrap;
    box-sizing: border-box;
    letter-spacing: 0;
    height: 100%;
    transition: 0.4s;
    position: relative;
}
.form-multi-tab{
    background-color: #ffffff;
    border-radius: 5px;
    border: 1px solid #a3a2a2;
    height: 54px;
    line-height: 54px;
    padding: 0 10px;
    margin-right:10px;
    margin-bottom:15px;
    cursor: pointer;
    box-sizing: border-box;
    z-index: 1;
    &:hover{
        background-color: $yellow;
        border-color: transparent;
        color: #303030;
    }
}
.multi-quest{
  margin-bottom: 0;
}

.left-moved-quest{
  margin-left: 114px;
}
.left-moved-quest-2{
  margin-left: 30px;
}
.downed-quest{
  margin-top: 150px;
}

///////////////////UNIQ QUEST PROP/////////////////////////

.form-calendar{
    @include  flex(c,fs);
    box-sizing: border-box;
    margin-top: 20px;
    width: 220px;
    padding-bottom: 21px;
    border-bottom: 1px solid #34353a;
    position: relative;
}
#arrive-date{
    @include text($basic-font,#34353a,18,400,left,uppercase);
    border: none;
    outline: 0;
    outline-offset: 0;
    background-color: #efefef;
}
::-webkit-inner-spin-button {
    display: none;
}
::-webkit-clear-button{
    display: none;
}
::-webkit-calendar-picker-indicator {
    opacity: 0;
    cursor: pointer;
    z-index: 1;
}
.fa-calendar-alt{
    position: relative;
    left: -30px;
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
    color: #a3a2a2;
    z-index: 0;
}
#budget{
    @include flex(sa,fs);
    width: 100%;
    text-align: center;
}
#budget li{
    padding: 0;
    width: 100%;
}
#finish-btn{
    text-transform: none;
}
#comment-form{
    @include text($basic-font,#34353a,20,400,left,none);
    width: 100%;
    height: 250px;
    outline-style: none;
    padding: 25px;
    border-radius: 5px;
    border: 1px solid #a3a2a2;
    box-sizing: border-box;
    resize: none;
}
.form-contact-info{
  @include flex(fs,fs);
  flex-direction: column;
  margin: 320px 0 0 195px;
}
.form-contact-info input{
  padding: 0 0 23px 14px;
  border: none;
  border-bottom: 1px solid #34353a;
  margin-bottom: 27px;
  @include text($basic-font,#34353a,20,400,left,none);
  background-color: inherit;
  box-sizing: border-box;
  outline-style: none;
  width: 100%;
}
.fa-plus{
    position: relative;
    transition: 0.4s;
    z-index: -1;
}
.fa-plus-turned{
    transform: rotateZ(45deg);
}
.input-form-container{
    position: relative;
    width: 100%;
}

///////////////////TAB STATES/////////////////////////

.active-form-tab{
    background-color: $yellow;
    border-color: transparent !important;
    color: #303030;
}
.form-error{
    opacity: 0;
    transition: 0.4s;
    @include content-width;
    @include text($basic-font,#c92533,20,400,left,none);
    position: absolute;
    bottom: calc(-100% + 10px);
    left: 0;
}
.form-multi-picker .form-error{
    bottom: calc(0% - 12px);
}