<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Agency</title>
	<link rel="stylesheet" href="css/reset.min.css">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.min.css">
</head>
<body>
<!----- S E C T I O N     H E A D E R ------->
	{% include 'sections/1_header/header.html' %}
<!----- S E C T I O N     W H A T  Y O U  G E T  ------->
	{% include 'sections/2_thats_what_you_get/what-you-get.html' %}
<!----- S E C T I O N     A B O U T  U S   ------->
	{% include 'sections/3_about_us/about-us.html' %}
<!----- S E C T I O N     C E N T E R   G U I D E ------->
	{% include 'sections/4_center_guide/center-guide.html' %}
<!----- S E C T I O N     T E L L   U S   A B O U T  ------->
	{% include 'sections/5_tell_us_about/tell-us-about.html' %}	
<!----- S E C T I O N     R E Q U E S T   R O U T E  ------->
	{% include 'sections/6_request_route/request-route.html' %}
<!----- S E C T I O N     W H A T   O T H E R S   S A Y ------->
	{% include 'sections/7_what_others_say/what-others-say.html' %}	
<!----- S E C T I O N     G E T   I N S P I R E D ------->
	{% include 'sections/8_get_inspired/get-inspired.html' %}	
<!----- S E C T I O N     G E T   I N   T O U C H ------->
	{% include 'sections/9_get_in_touch/get-in-touch.html' %}	
<!----- S E C T I O N     F O O T E R ------->
	{% include 'sections/10_footer/footer.html' %}	

	<script src="js/jquery-min-3.3.1.js"></script>
    <!-- <script src="js/jquery-mobile-1.4.5.js"></script> -->
	<script src="js/all.min.js"></script>
</body>
</html>