
/*-------------------------- V A R I A B L E S ------------------------------*/

$white: #ffffff;
$blue: #0366a2;
$yellow: #f0d456;
$font: "Muli", sans-serif;

/*-------------------------- C O N T A I N E R S------------------------------*/

.container {
  max-width: 1200px;
  margin: 0 auto;
}

@media screen and (max-width: 1200px) {
  .container {
    max-width: 1140px;
    padding: 0 20px;
  }
}

@media screen and (max-width: 993px) {
  .container {
    max-width: 960px;
  }
}

@media screen and (max-width: 768px) {

  .container {
    max-width: 720px;
  }
}

@media screen and (max-width: 578px) {

  .container {
    max-width: 540px;
  }
}

@media screen and (max-width: 480px) {

  .container {
    max-width: 100%;
  }

}

/*----------------------------- @ L O O P S ---------------------------------*/

$fonts: (tiny: 8px, medium: 10px, large: 13px, extra-large: 20px);

@each $name, $value in $fonts {
    .#{$name} {
        font-size: $value;
    }
}

/*---------------------------- @ F U N C T I O N ----------------------------*/

/* Перевод px to em */ 

@function px-to-em ($px, $context: 16px) {
    @return ($px / $context) * 1em;
}

/*---------------------------- @ M I X I N S --------------------------------*/

/* Подключение удаленных шрифтов */

@mixin remote-fonts($name) {
    @import url(https://fonts.googleapis.com/css?family=#{$name});
}

/* Подключение для разных разрешений */

@mixin large-screen() {
    @media screen and (max-width: 960px){
        @content;
    }
}

@mixin flex($jc, $ai) {
  display: flex;
  @if $jc == c {
    justify-content: center;
  } @else if $jc == sa {
    justify-content: space-around;
  } @else if $jc == sb {
    justify-content: space-between;
  } @else if $jc == fs {
    justify-content: flex-start;
  } @else if $jc == fe {
    justify-content: flex-end;
  }

  @if $ai == c {
    align-items: center;
  } @else if $ai == sa {
    align-items: space-around;
  } @else if $ai == sb {
    align-items: space-between;
  } @else if $ai == fs {
    align-items: flex-start;
  } @else if $ai == fe {
    align-items: flex-end;
  }
}
@mixin comboflex($jc1, $ai1, $jc2, $ai2) {
  display: flex;
  @if $jc1 == c {
    justify-content: center;
  } @else if $jc1 == sa {
    justify-content: space-around;
  } @else if $jc1 == sb {
    justify-content: space-between;
  } @else if $jc1 == fs {
    justify-content: flex-start;
  } @else if $jc1 == fe {
    justify-content: flex-end;
  }

  @if $ai1 == c {
    align-items: center;
  } @else if $ai1 == sa {
    align-items: space-around;
  } @else if $ai1 == sb {
    align-items: space-between;
  } @else if $ai1 == fs {
    align-items: flex-start;
  } @else if $ai1 == fe {
    align-items: flex-end;
  }

  &__item {
    display: flex;
    @if $jc2 == c {
      justify-content: center;
    } @else if $jc2 == sa {
      justify-content: space-around;
    } @else if $jc2 == sb {
      justify-content: space-between;
    } @else if $jc2 == fs {
      justify-content: flex-start;
    } @else if $jc2 == fe {
      justify-content: flex-end;
    }

    @if $ai2 == c {
      align-items: center;
    } @else if $ai2 == sa {
      align-items: space-around;
    } @else if $ai2 == sb {
      align-items: space-between;
    } @else if $ai2 == fs {
      align-items: flex-start;
    } @else if $ai2 == fe {
      align-items: flex-end;
    }
  }
}
///ADDED PX IN FONT-SIZE///
@mixin text($ff, $co, $fs, $fw, $ta, $tt) {
	font-family: $ff, sans-serif;
	color: $co;
	font-size: $fs+px;
	font-weight: $fw;
	text-align: $ta;
	text-transform: $tt;
}
///ADDED CURSOR-POINTER///
@mixin btn {
  box-sizing: border-box;
  border: none;
  border-radius: 25px;
  padding: 0 25px;
  height: 60px;
  min-width: 180px;
  font-family: "Muli", sans-serif;
  font-size: 21px;
  font-weight: 700;
  text-align: center;
  background-image: linear-gradient(0deg, #3da3bf 0%, #90dbed 100%);
  box-shadow: inset 0px -3px 0px 0px rgba(60,160,188,1);
  color: white;
  outline: none;
  text-transform: capitalize;
  cursor: pointer;
}
///ADDED HOVER-STATE MIXIN ON BTN///
@mixin btn-active{
  background: linear-gradient(to bottom, #7ce7ff 0%, #2aa8cc 100%);
  box-shadow: inset 0px -2px 0px 0px rgba(60,160,188,1);
}
///ADDED ONCLICK-STATE MIXIN ON BTN///
@mixin btn-hover{
  background: linear-gradient(to bottom, #7ce7ff 0%, #2aa8cc 100%);
  box-shadow: inset 0px -6px 0px 0px rgba(60,160,188,1);
}

@mixin header ($fz: 5) {
  font-family: "Muli", sans-serif;
  font-size: $fz + px;
  font-weight: 700;
  text-align: center;
  color: #34353a;
}

/*---------------------------- @ E X T E N D --------------------------------*/

/*------------------ R E P E T I T I V E      S E L E C T O R S --------------*/

/*---------------------------- @ I M P O R T --------------------------------*/

@import "fonts.scss";
@import "../sections/1_header/scss/header.scss";
@import "../sections/2_thats_what_you_get/scss/what-you-get.scss";
@import "../sections/3_about_us/scss/_about-us.scss";
@import "../sections/4_center_guide/scss/_center-guide.scss";
@import "../sections/5_tell_us_about/scss/_tell-us-about.scss";
@import "../sections/6_request_route/scss/_request-route.scss";
@import "../sections/7_what_others_say/scss/what-others-say.scss";
@import "../sections/8_get_inspired/scss/get-inspired.scss";
@import "../sections/9_get_in_touch/scss/get-in-touch.scss";
@import "../sections/10_footer/scss/footer.scss";
